{% load iterator %}{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta id="viewport" name="viewport" content="initial-scale=1.0;minimum-scale=1.0; maximum-scale=1.0" />
	<title>{% if year < 2011 %}Some {% endif %}Films Seen in {{ stats.title }}</title>
	<meta name="description" content="An {% if year < 2011 %}incomplete {% endif %}interactive list and data visualization of movies seen in {{ stats.title }} by Zack McGhee." />
	<style>@import "/movies/filmlog.css"</style>
	<script src="//use.typekit.net/rhb1zic.js"></script>
	<script src="//www.google.com/jsapi"></script>
	<script>try{Typekit.load();}catch(e){}google.load('visualization', '1.0', {'packages':['corechart']});function imdb_ok(){a=true;if(b=window.localStorage){c=b.getItem("imdb_ok");if(c)return a;if(confirm("You're about to head over to IMDb. Is that cool?")){b.setItem("imdb_ok",a);return a}return false}}
  /* ================== Charts ================== */
  /* First-time viewings vs. Repeats vs. Walkouts */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Type');
	data.addColumn('number', 'Screenings');
	data.addRows([
	  ['First-time viewings', {{ stats.first_timers }}],
	  ['Repeat viewings', {{ stats.repeats }}],
	  ['Walkouts', {{ stats.walkouts }}]
	]);
	var options = {'title':'Overview'};
	var chart = new google.visualization.PieChart(document.getElementById('entry_overview'));
	chart.draw(data, options);
  });
  /* Theatrical venues (with Alamo grouped) */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Theater');
	data.addColumn('number', 'Screenings');
	data.addRows([{% for venue in stats.venues.all %}{% if venue.total > 0 %}
	  ['{{ venue.name|addslashes }}', {{ venue.total }}]{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}	]);
	var options = {'title':'Theatrical Venues (with Alamo grouped)'};
	var chart = new google.visualization.PieChart(document.getElementById('venue_chart_div'));
	chart.draw(data, options);
  });
  /* Alamo-only venue breakout */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Theater');
	data.addColumn('number', 'Screenings');
	data.addRows([{% for venue in stats.venues.alamo %}{% if venue.total > 0 %}
	  ['{{ venue.name|addslashes }}', {{ venue.total }}]{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}	]);
	var options = {'title':'Alamo-only venue breakout'};
	var chart = new google.visualization.PieChart(document.getElementById('alamo_chart_div'));
	chart.draw(data, options);
  });
{% if stats.dates %}/* Day-by-day screenings for month view */
  google.setOnLoadCallback(function(){
  	var date_from_str = function(date_str){
  		var d = date_str.split('-');
  		return new Date(d[0], d[1]-1, d[2]);
  	}
	var data = new google.visualization.DataTable();
	data.addColumn('date', 'Dates');
	data.addColumn('number', 'Screenings');
	data.addColumn({type: 'string', role: 'annotation'});
	data.addRows([{% for date in stats.dates %}
	  [date_from_str('{{ date.date }}'), {{ date.total }}, {% if date.date == '2012-04-29' %}'Moved to Austin'{% elif date.date == '2012-03-09' %}'SXSW 2012 starts'{% elif date.date == '2012-03-17' %}'SXSW 2012 ends'{% else %}''{% endif %}]{% if not forloop.last %},{% endif %}{% endfor %}
	]);
	var options = {title: 'Seen by date', legend: {position:'none'}};
	var chart = new google.visualization.LineChart(document.getElementById('entries_by_date'));
	chart.draw(data, options);
  });{% else %}  /* Month-by-month screenings for year view */
  google.setOnLoadCallback(function() {
	var data = google.visualization.arrayToDataTable([
	  ['Month', 'Screenings'],
{% for month in stats.months %}	  ['{{ month.month_abbr }} {{ month.year }}',  {{ month.total }}],
{% endfor %}	]);
	var options = {title: 'Movies per Month', legend: {position:'none'}};
	var chart = new google.visualization.ColumnChart(document.getElementById('entries_by_date'));
	chart.draw(data, options);
  });{% endif %}
  /* Thumb (including repeats & walkouts) */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Rating');
	data.addColumn('number', 'Screenings');
	data.addRows([
	  ['Up', {{ stats.thumb.all.up }}],
	  ['Down', {{ stats.thumb.all.down }}]
	]);
	// Set chart options
	var options = {'title':'Review (includes repeats & walkouts)', 'legend': {'position':'bottom'}};
	var chart = new google.visualization.PieChart(document.getElementById('thumb_all'));
	chart.draw(data, options);
  });
  /* Thumb (excluding repeats & walkouts) */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Rating');
	data.addColumn('number', 'Screenings');
	data.addRows([
	  ['Up', {{ stats.thumb.first_timers.up }}],
	  ['Down', {{ stats.thumb.first_timers.down }}]
	]);
	var options = {'title':'Review (excludes repeats & walkouts)', 'legend': {'position':'bottom'}};
	var chart = new google.visualization.PieChart(document.getElementById('thumb_first_timers'));
	chart.draw(data, options);
  });
  /* Theatrical rep vs. contemporary */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Type');
	data.addColumn('number', 'Screenings');
	data.addRows([
	  ['Current Releases', {{ stats.release_year.theatrical.current }}],
	  ['Repertory', {{ stats.release_year.theatrical.repertory }}]
	]);
	var options = {'title':'In Theaters: Current Releases vs. Repertory (Pre-{{ stats.release_year.threshold }})'};
	var chart = new google.visualization.PieChart(document.getElementById('screening_type'));
	chart.draw(data, options);
  });
  /* Theatrical vs. Video */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Type');
	data.addColumn('number', 'Screenings');
	data.addRows([
	  ['In Theaters', {{ stats.formats.theatrical.total }}],
	  ['On Video', {{ stats.formats.video }}]
	]);
	var options = {'title':'In Theaters vs. Home Video'};
	var chart = new google.visualization.PieChart(document.getElementById('theatrical_vs_video'));
	chart.draw(data, options);
  });
  /* Theatrical - Film vs. Digital */
  google.setOnLoadCallback(function(){
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Type');
	data.addColumn('number', 'Screenings');
	data.addRows([
	  ['Film Format', {{ stats.formats.theatrical.film }}],
	  ['Digital Format', {{ stats.formats.theatrical.digital }}]
	]);
	var options = {'title':'Theatrical-only format breakdown'};
	var chart = new google.visualization.PieChart(document.getElementById('theatrical_formats'));
	chart.draw(data, options);
  });</script>
</head>
<body class="{% if stats.dates %}month{% else %}year{% endif %}-view">
<h1>{% if year < 2011 %}Some {% endif %}Films Seen in {{ stats.title }}</h1>
<form action="#" id="f">An {% if year < 2011 %}incomplete {% endif %}interactive list and data visualization of movies seen in <select onchange="location.href='/movies/'+this.value+location.search">
{% for option in years %}
<option{% if option == year and not stats.dates %} selected{% endif %}>{{ option }}</option>
{% if option == year %}
{% for month in months %}
<option value="{{ month.month }}"{% if stats.title == month.month_and_year %} selected{% endif %}>-{{ month.month_name|slice:":3" }}</option>
{% endfor %}
{% endif %}
{% endfor %}
</select> by <a href="http://zmcghee.com/">Zack McGhee</a>.</form>
<div id="c">
<div id="stats">
<ul id="overview">
<li id="total-seen"><strong>{{ stats.total_seen }}</strong><span> films seen in their entirety</span></li>
<li id="walkouts"><strong>{{ stats.walkouts }}</strong><span> walkout{{ stats.walkouts|pluralize }}</span></li>
<li id="in-3d"><strong>{{ stats.in_3d }}</strong><span> in 3D</span></li>
</ul>
<div id="entries_by_date"></div>
<div id="entry_overview"></div>
<div id="venue_chart_div"></div>
<div id="alamo_chart_div"></div>
<div id="screening_type"></div>
<div id="theatrical_vs_video"></div>
<div id="theatrical_formats"></div>
<div id="thumb_first_timers"></div>
<div id="thumb_all"></div>
</div>
<div id="log">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="count"><!-- Count --></th>
				<th class="date"><a href="/movies/{{ year }}{% if order_by == 'reverse' %}?order=date{% endif %}">Date</a></th>
				<th class="movie">{% if order_by != 'title' %}<a href="/movies/{{ year }}?order=title">{% endif %}Movie{% if order_by != 'title' %}</a>{% endif %}</th>
				<th class="rating">{% if order_by != 'rating' %}<a href="/movies/{{ year }}?order=rating">{% endif %}Rating{% if order_by != 'rating' %}</a>{% endif %}</th>
			</tr>
		</thead>
		<tbody>
{% for entry in entries %}
			<tr class="{% cycle 'odd' 'even' %}{% if entry.video %} video{% endif %}{% if entry.walkout %} walkout{% endif %}{% if entry.repeat %} repeat{% endif %}">
				<td class="count">{% if not entry.walkout %}<div>{% if order_by == 'reverse' %}{% iterator reverse %}{% else %}{% iterator 0 %}{% endif %}.</div>{% endif %}</td>
				<td class="date">
					<span class="month">{{ entry.date|date:"M" }} </span>
					<span class="day">{{ entry.date|date:"d" }}</span>
				</td>
				<td class="movie">
					<div class="m1"><div class="m2">
						<span class="movie-title">{% if entry.movie.imdb %}<a href="http://www.imdb.com/title/tt{{ entry.movie.imdb|zeroes:7 }}/" onclick="return imdb_ok();">{% endif %}{{ entry.movie.title }}{% if entry.movie.imdb %}</a>{% endif %}</span>
	{% if entry.version %}
						<span class="version"> [{{ entry.version }}]</span>
	{% endif %}
						<span class="premiere-year"> {{ entry.movie.premiere_year }}</span>
	{% if entry.movie.directors %}
						<span class="directors">Directed by {% for director in entry.movie.directors.all %}{% if entry.movie.directors|length > 1 %}{% if not forloop.first %}{% if not forloop.last %},{% else %} &{% endif %} {% endif %}{% endif %}{% if director.imdb %}<a href="http://www.imdb.com/name/nm{{ director.imdb|zeroes:7 }}/" onclick="return imdb_ok();">{% endif %}{{ director }}{% if director.imdb %}</a>{% endif %}{% endfor %}</span>
	{% endif %}
					</div></div>
				</td>
				<td class="rating">
{% if entry.recommended and not entry.walkout %}
					<img src="http://static.zmcghee.com/movies/thumb_up.png" alt="Thumb Up" />
{% elif not entry.walkout %}
					<img src="http://static.zmcghee.com/movies/thumb_down.png" alt="Thumb Down" />
{% endif %}
				</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
</div>
<p><span class="non-mobile">Data visualization powered by <a href="https://developers.google.com/chart/">Google Charts</a>. <a href="http://findicons.com/icon/164547/control_repeat?id=166475">Repeat icon</a> by <a href="http://www.fatcow.com/">FatCow Web Hosting</a>. <a href="http://findicons.com/icon/207175/generic_vhs">Video icon</a> by Steven W. Smith. </span>Fonts by <a href="http://typekit.com">TypeKit</a>. Yes, that is my thumb.<br /><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'&'+'#'+'1'+'1'+'6'+';'+'&'+'#'+'1'+'1'+'1'+';'+
'&'+'#'+'5'+'8'+';'+'&'+'#'+'1'+'2'+'2'+';'+'%'+'6'+'1'+'c'+'k'+'&'+'#'+'4'+'6'+';'+'m'+'&'+'#'+'3'+
'7'+';'+'6'+'3'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+';'+'7'+'&'+'#'+'1'+'0'+'4'+';'+'e'+'%'+'&'+'#'+
'5'+'4'+';'+'5'+'&'+'#'+'6'+'4'+';'+'g'+'%'+'6'+'&'+'#'+'6'+'8'+';'+'%'+'6'+'1'+'i'+'l'+'%'+'2'+'E'+
'&'+'#'+'9'+'9'+';'+'o'+'m'+"'"+'>'+'&'+'#'+'1'+'2'+'2'+';'+'a'+'c'+'&'+'#'+'1'+'0'+'7'+';'+'&'+'#'+
'4'+'6'+';'+'m'+'c'+'&'+'#'+'1'+'0'+'3'+';'+'h'+'e'+'e'+'&'+'#'+'6'+'4'+';'+'g'+'m'+'a'+'i'+'l'+'&'+
'#'+'4'+'6'+';'+'c'+'o'+'m'+'<'+'/'+'a'+'>');</script></p>
</div>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33720508-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
{% endspaceless %}