body {
	min-width: 1100px;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
	font-family: "adelle", "palatino", serif;
	font-size: small;
	voice-family: "\"}\"";
}

#c {
	max-width: 1100px;
}

.non-mobile {
	display: inline;
}

@media only screen and (max-device-width: 480px) {
	.non-mobile {
		display: none !important;
	}
	
	body {
		font-family: "helvetica neue", sans-serif;
		min-width: 100px;
	}
	
	h1 {
		font-size: 2.6em !important;
	}
	
	body.month-view h1 {
		font-size: 1.5em !important;
	}
	
	#stats, th.count, td.count {
		display: none;
	}
	
	th {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	td {
		font-size: x-small !important;
	}
	
	td.movie .m1, tr.video td.movie .m2 {
		background-image: none !important;
	}
	
	td.movie .m2 {
		padding-left: .7em !important;
	}
	
	tr.repeat td.movie .movie-title:before,
		tr.repeat td.movie .movie-title:after {
		content: "/";
		font-weight: normal;
	}
	
	tr.video td.movie .m2 {
		padding-right: .7em !important;
	}
	
	tr.video td.movie .movie-title:after {
		content: "*";
		font-weight: normal;
	}
	
	tr.video.repeat td.movie .movie-title:after {
		content: "/*";
		font-weight: normal;
	}
	
	body p:last-child:before {
		content: "Slashes indicate a repeat viewing. An asterisk indicates a movie was seen on home video. ";
	}
}

html>body {
	font-size: small;
}

h1, #f {
	background: #369;
	color: #fff;
}

h1 {
	font-family: "helvetica neue", sans-serif;
	margin: 0;
	font-size: 2.9em;
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

h1, #f, #c {
	padding: 2%;
}

#f, #stats {
	padding-top: 7px;
	padding-bottom: 7px;
}

#f a {
	color: #fff;
}

#log {
	max-width: 550px;
}

table {
	width: 100%;
}

.count div {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.count, .date, .rating {
	text-align: center;
}

.movie-title {
	font-size: medium;
	font-weight: bold;
}

.premiere-year {
	font-size: x-small;
	color: #333 !important;
}

.version {
	font-style: italic;
}

.directors {
	display: block;
}

th, td, td.movie .m2 {
	padding: .7em;
}

td.movie .m2 {
	padding-left: 56px;
}

th, td {
	border-bottom: 1px solid #ccc;
}

th {
	font-size: 1.1em;
}

tr.odd {
	background: #ffe;
}

tr.walkout td .m1, tr.walkout td.date span {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

td.date span {
	display: block;
}

td.date .month {
	background: #c00;
	color: #fff;
}

td.date .month, #stats #overview li strong {
	-moz-border-top-left-radius: 25%;
	border-top-left-radius: 25%;
	-moz-border-top-right-radius: 25%;
	border-top-right-radius: 25%;
}

td.date .day {
	font-size: medium;
	border: 1px solid #eee;
	background: #fff;
}

td.date .day, #stats #overview li strong {
	-moz-border-bottom-left-radius: 25%;
	border-bottom-left-radius: 25%;
	-moz-border-bottom-right-radius: 25%;
	border-bottom-right-radius: 25%;
	background-image: -webkit-gradient( linear, right bottom, right top, color-stop(0.21, rgb(247,247,247)), color-stop(1, rgb(255,255,255)) );
}

td.movie {
	padding: 0 !important;
}

tr.repeat td.movie .m1 {
	background: url('http://static.zmcghee.com/movies/repeat.png') .7em center no-repeat;
}

tr.video td.movie .m2 {
	background: url('http://static.zmcghee.com/movies/vhs.png') bottom right no-repeat;
	padding-right: 80px;
}

#stats {
	font-size: x-large;
	float: right;
	width: 480px;
	border: 1px solid #eee;
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

#stats #overview, #stats #overview li {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#stats #overview {
	overflow: none;
	padding-left: 45px;
	padding-bottom: 1em !important;
}

#stats #overview li {
	display: block;
	clear: left;
	padding: .2em 0;
}

#stats #overview li strong, #stats #overview li span {
	display: block;
	float: left;
	padding: 1px 5px;
}

#stats #overview li strong {
	width: 2em;
	text-align: right;
	background: #369;
	color: #fff;
	font-family: "hotel-solid";
}

#stats #thumb_first_timers, #stats #thumb_all {
	float: left;
	width: 235px;
}

body p:last-child {
	padding-top: 1em;
	clear: right;
}